.rightcontent{
    width: 50%;
    height: 500px;
    margin-top: 11%;
    float: left;
}
#enroll-comment{
    color: #454545;
    margin-bottom: 0%;
}
.enroll-input{
    width: 35%;
    height: 30px;
    padding-left: 10px;
    margin-top: 5px;
}
.enroll-input:hover{
    border: 1px solid black;
}
.enroll-input:focus{
    background-color: lightgoldenrodyellow;
}
.enroll-input-select{
    width: 37.1%;
    height: 36.1px;
    padding-left: 10px;
    margin-top: 5px;
}
.enroll-input-enroll{
    width: 30%;
    height: 36.1px;
    margin-top: 23px;
    margin-left: 22%;
    background-color: 	#2467ed;
    color: white;
    font-size: larger;
    border: none;
    border-radius: 10PX;
    opacity: .9;
}
.enroll-input-enroll:hover{
    background-color: #2467ed;
    opacity: 1;
}
.enroll-input-enroll:focus{
    background-color: green;
    opacity: 1;
    
}
.leftcontent{
    width: 30%;
    height: 300px;
    padding-left: 20%;
    padding-top: 5%;
    float: left;
}
table{
    height: 370px;
}
.contact-image{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.contact-links{
text-decoration: none;
color: #454545;
}
.contact-btn{
    border: none;
    background-color: beige;
}

#above-footer{
    padding-top: 10px;
    padding-left: 17%;
    padding-right: 17%;
}
.mainheading-above-footer{
    text-align: center;
    color: blueviolet;
    font-weight: 900;
    font-size: 30px;
    text-decoration: underline;
}
.subheading-above-footer{
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}
.para-above-footer{
    text-align: justify;
    text-indent: 50px;
    line-height: 2;
}
.point-para-above-footer{
    text-align: justify;
    line-height: 3;
}


#footer{
    width: 100%;
    height: 200px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.footer-links{
    text-decoration:none;
    color: grey;
    padding: 10px;
    font-size: small;
    font-weight: 500;
}
.footer-developed{
    margin: 0%;
    text-decoration:none;
    color: grey;
    font-size: small;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}
